<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rewrite dynamic board routes to the default/index.html page so client-side routing can take over -->
        <rule name="Dynamic Boards Route" stopProcessing="true">
          <match url="^boards/([^/]+)/?$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="boards/default/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
